<div class="row">
    <div class="column">
        <img src="https://datasciencecampus.ons.gov.uk/wp-content/uploads/sites/10/2017/03/data-science-campus-logo-new.svg"
             alt="Data Science Campus Logo"
             align="right" 
             width = "340"
             style="margin: 0px 60px"
             />
    </div>
    <div class="column">
        <img src="https://cdn.ons.gov.uk/assets/images/ons-logo/v2/ons-logo.svg"
             alt="ONS Logo"
             align="left" 
             width = "420"
             style="margin: 0px 30px"/>
    </div>
</div>

# Introduction to Python: Day 2

## Trainers

<font size="+0.5">Saliha Minhas</font>   
(<saliha.minhas@ons.gov.uk>)

## Table of Contents


<br>
<a href="#Learning Objectives"><font size="+1">Learning Objectives</font></a>


<br>
<b>Section 1: </b><a href="# The Pandas Library - Objects for Data Science"><font size="+1">The Pandas Library - Objects for Data Science</font></a>
<br>
<ol>
  <li>General Purpose Objects</li>
  <li>Series Objects</li>
  <li>DataFrame Objects</li>
  <li>Import Pandas</li>
  <li>Reading in Data</li>
  <li>Reading a CSV file</li>
  <li>Getting Help</li>
</ol>
<br>


<b>Section 2: </b><a href="#Selecting and Filtering DataFrames"><font size="+1">Selecting and Filtering DataFrames</font></a>
<br>
<ol>
  <li>Selecting Columns from DataFrames</li>
  <li>Filtering rows from Dataframes</li>
  <li>Conditional Filtering</li>
  <li>Cperators to filter data</li>
  <li>Using Multiple Conditions to Filter</li>
</ol>
<br>

<b>Section 3: </b><a href="#Generating New Variables"><font size="+1">Generating New Variables</font></a>
<br>
<ol>
    <li>Creating Binary Variables</li>
    <li>Constant Value Variables</li>
    <li>Creating Variables Based on Existing Columns</li>
    <li>Classifying Numerical Values using pd.cut() and pd.qcut()</li>
    <li>Removing (Dropping) Columns</li>

</ol>
<br>

<b>Section 4: </b><a href="# Descriptive Statistics"><font size="+1">Descriptive Statistics</font></a>
<br>
<ol>
    <li>Describing Numerical Data</li>
    <li>Descriptive Statistics for Numerical Data</li>
    <li>Describing Text (or Categorical) Data</li>
    <li>Sorting Data</li>
</ol>
<br>

<b>Section 5:  </b><a href="#Updating-Values"><font size="+1">Updating Values</font></a>
<br>
<ol>
    <li>Copies and Views</li>
    <li>Selecting and Filtering with `.loc[row_indexer, col_indexer]` and `.iloc[row_indices, col_indices]`</li>
    <li>Updating DataFrame Cells</li>
    <li>Propagating Missing Data Values with .loc[]</li>
    <li>Changing column data types</li>
    <li>Changing column names</li>
</ol>
<br>

<b>Section 6: </b><a href="#Aggregation"><font size="+1">Aggregation</font></a>
<br>
<ol>
    <li>Aggregation using the `.groupby()` method</li>
</ol>
<br>


<b>Section 7: </b><a href="#Crosstabs,-Contingency,-and-Two-Way-Tables"><font size="+1">Crosstabs, Contingency, and Two Way Tables</font></a>
<br>
<ol>
     <li>Crosstabulation using the `pd.crosstab()` top-level function</li>
</ol>
<br>

<b>Section 8: </b><a href="#Merging-Data"><font size="+1">Merging Data</font></a>
<br>
<ol>
    <li>Different ways to merge</li>
    <li>Merge function</li>
</ol>


# Learning Objectives


The goal for today's session is develop a working knowledge of the Pandas DataFrame (and Series), including how to:

* Select and Filter columns
* Describe numeric and categorical data
* Update values and columns
* Aggregate and cross-tabulate data
* Merge

<b>Section 1:</b> 


# The Pandas Library - Objects for Data Science



## 1.1 General Purpose Objects

The data structures - lists, tuples, and dictionaries, are the core, in-built data structures available in python. They are always available for use and easily created and destroyed. They are general purpose which means they are useful in many situations, however, they may not allow us to complete specific tasks as easily as we would like.

Nonetheless, it is really important to know a bit about lists, tuples and dictionaries because they are used throughout python, and you will be very likely to encounter them in some form. Perhaps as an output from a function or method; as a way of providing input to a procedure; or, as the way that the library you are using stores properties.

Many advanced python libraries that have been built for specific purposes, like data science, take advantage of the fact that objects are extensible. Programmers can create new classes based on existing objects and add in specific properties or methods that do specific things. This means that general purpose objects can be customised for particular tasks.

In data science applications, the Pandas library provides specialised objects that make working with data tables a lot easier than if we had to rely on python's general purpose objects. However, because pandas objects are specialised, they are also more complicated than general purpose objects.

Pandas adds two important data structures that we need to know about. The 1 dimensional `Series` and the 2 dimensional `DataFrame`.


## 1.2 Series Objects

* A Series is like a one-dimensional array (effectively a list) with a label for each observation.

* You can think of a Series as being similar to a single column in a spreadsheet: a list of values.

* However, the items in a Series must all be of the same data type, unlike a list.

* The Series index provides a label for each observation, the default is for consecutive integer labels starting at 0.

* However, a Series index does not have to be consecutive numbers, they can be non-unique numbers, non-consecutive numbers, as well as string objects or tuples.

* As such, the Series itself is a bit like a list, whereas the Series index is a bit like a dictionary, and is able to return a value in the Series based on the index, like a key-value pair.

* The Series object implements a large number of special behaviours (methods, procedures) that can be called on the data held in a Series to get useful outputs. This includes mathematical functions, like taking the average of all values in a numerical Series.

## 1.3 DataFrame Objects

* A DataFrame is a two-dimensional version of a Series object.

* In effect, a DataFrame is a collection of Series objects - one Series for each column in the DataFrame.

* A DataFrame is thus similar to a whole spreadsheet, like an Excel file, a STATA .dta file, a SAS file, an SPSS .sav file etc.

* A DataFrame can hold columns with different data types, but as per Series above, any single column must contain values of the same data type.

* The dimensions are labeled in a similar way to the Series object:

    * **index** - refers to the row labels
    * **columns** - refers to the column labels
    
 * Having indexed data allows fast look up and powerful relational operations 
 
 * Each row has a label and each column has a label

Most the the time you'll be working with DataFrame objects in Pandas, however, as DataFrames are composed of Series, it is very likely that through indexing, selection, creation of new columns, and analysis you'll encounter Series objects too. Luckily, DataFrame and Series objects are similar, DataFrames effectively extend the Series into two-dimensions and as such implement some additional properties and methods that may not be relevant to Series on their own.

## 1.4 Import Pandas

In [5]:
# importing pandas is this simple!
import pandas as pd

The above code cell has two lines.

The first line is a comment - Python (and other languages) "skip" anything with a # infront of it.

On the second line I've written my import statement. There are two parts to this statement:
1. `import pandas`
2. `as pd`

In python, it is sufficient just to write `import pandas`.

`pd` is a common nickname or 'alias' used for pandas - rather than write 'pandas' each time I can just write 'pd.'

Many packages have nicknames that are consistently applied by members of the wider python community, such as pandas being pd. You don't have to adhere to these conventions, but you'll probably see them used a lot in training and help materials online.

When you successfully import a module, you don't usually get any feedback. However, if you get it wrong you'll get an error message that should give you some idea of what happened, for instance:

In [ ]:
# If you run this code cell you should get a 'ModuleNotFoundError' as there is no 'pandahs' module!
import pandahs # by the way, I can also comment on the end of lines too!

## 1.5 Reading in Data

Now that you've loaded pandas, lets read some data into python and see what that looks like.

Pandas can read data in a variety of different formats. In the code cell below type pd.read then press **Tab**

Pressing Tab gives you all the things you can do with pandas that start with 'read'. You probably recognise some of the data input types (e.g. Excel, SAS, Stata), while others you may not have heard of (e.g. pickle, json etc.) You can then select whichever method you wish to use.

**Tab** is a really useful shortcut to know for finding or completing commands in notebooks.

As you can see, we can read in a large variety of data using pandas data readers.

(NB There isn't a specific reader for SPSS files - it is possible to read .sav files, unfortunately you need another library called savReaderWriter at the moment.)

## 1.6 Reading a CSV file

Now that you've seen the different options, try reading a simple csv (comma separated value) dataset. 

To read a csv file, the only piece of information we absolutely need is the location of the file.

The file is called 'titanic.csv' and is in the data folder.

The code below demonstrates how you can read these data.

In [8]:
# Read the data using an absolute path
titanic = pd.read_csv('C:/intro to Python/titanic.csv')

## 1.7 Exploring the Data

There are a number of variables within this dataset:
* pclass = Passenger class of travel.
* survived = 1 if the passenger survived the sinking, 0 if not.
* name = Full name of the passenger, including title.
* sex = Passenger gender.
* age = Passenger age.
* sibsp = Count of siblings or spouse also aboard.
* Parch = Count of parents or children also aboard.
* ticket = Ticket reference.
* fare = fare paid.
* cabin = Cabin number.
* embarked = Port of embarkation. (S = Southampton (UK); C = Cherbourg (France); Q = Queenstown (Cobh, Ireland))



The first thing we may want to do having read in a DataFrame is to take a quick overview and check it looks right.

There are several DataFrame methods we might use to do this: `.head()`, `.tail()` and `.sample()`

In [ ]:
# head shows the first n rows of the dataframe (5 by default).
titanic.head()

In [ ]:
# tail shows the last n rows of a dataframe (5 by default)
titanic.tail(3)

In [ ]:
# sample shows n rows chosen at random from the dataframe (1 by default)
titanic.sample(4)

In [ ]:
# dimensions of dataframe
titanic.shape

In [ ]:
# get the number of rows and columns
# NB This line 'unpacks' the tuple returned by shape
numrows, numcols = titanic.shape

In [ ]:
# print out the number of rows and columns
print("There are {} rows and {} columns in the titanic dataset".format(numrows, numcols))

In [ ]:
# number of rows using pythons inbuilt len() function (len meaning 'length')
numrows = len(titanic)
# print the number of rows using f-string formatting.
print(f"There are {numrows} rows in the titanic dataframe")

In [ ]:
#type of object
type(titanic)

In [ ]:
# get column data types in dataframe
titanic.dtypes

Remember our different data types - 

* **int** indicates integers, 'parch' for instance is recording counts as whole numbers, such as: 0, 1, 2 etc.
* **float** indicates 'floating-point numbers', effectively decimal numbers like in the age column.
* **object** indicates text, also known as 'string' data. The 'name' column gives passenger full names and titles.
* **bool** which indicates Boolean values, Booleans encode True or False values.

Other data types you might see include:
* **datetime** which encodes date and time values.
* **category** which is a special Pandas datatype for categorical or factor variables.

In [ ]:
# Column names are really easy to get!
colnames = titanic.columns
colnames

In [ ]:
columnsNamesArr = titanic.columns.values
columnsNamesArr

In [ ]:
# colnames is an index object, if we wanted a list we could use:
#colnames = colnames.tolist()
# or
colnames = list(colnames)
colnames

In [ ]:
#DataFrames also have an `.info()` method which returns a concise summary of information about the Data.
titanic.info()

Note the different counts in the information above, this suggests that some variables are completely observed (e.g. pclass, survived), while others have missing data values (e.g. age, embarked, cabin).

When you read a DataFrame into pandas, the data are loaded in memory. This means that any changes you make won't be reflected in the original file you loaded. If you want to preserve the changes you make to the dataset you have to export the DataFrame object to a file.

Pandas has a number of file writers. Let's save the `titanic` DataFrame as an excel file.

In [ ]:
# File writers are prefixed with .to_ press tab to find avaialble options.
titanic.to_excel('../Save/titanic.xlsx')

## 1.8 Getting Help

Most python modules include information on how to use their functions with something called a 'docstring'. You can look at docstrings using python's in-built help() function. Run the code below to look at the docstring for the pandas read_csv function.

In [ ]:
# Have a look at the docstring using python.
help(pd.read_csv)

When you're using a notebook, you can also access the docstring by pressing Shift-Tab with the cursor somewhere in the object. This produces a **tool-tip**. A small pop-up box with relevant information.

Pressing Tab once shows the parameters available for the particular object you are looking at.  
Pressing Tab twice shows the whole docstring.  
Pressing Tab a third time makes the tool-tip linger for 10 seconds.  
Pressing Tab a fourth time put the tool-tip into a larger pane in the browser.  

The tool-tip provides the same information as the `help()` function, but with nicer formatting!

In [ ]:
pd.read_d_csv()

**Docstrings**


Docstrings look a bit scary at first, but once you learn how to read them they're super useful!

The first block of text is the function we're looking at - read_csv - followed by all the possible parameters you can use to modify how pandas reads a csv file.

Note that the first parameter is 'filepath_or_buffer', that's currently all you're passing to this function - the filepath of 'MarvelUniverse.csv'.

If you scroll down a little, you can then see all of the possible parameters listed and described.

E.g If your data were semi-colon delimited you'd have to specify the 'sep' parameter. 
No header row? (i.e. column names) you could set 'header' to None.

At the very bottom of the docstring, you can see that read_csv function returns a 'DataFrame'.

Don't get too hung up on docstrings for now though, as you become more experienced they'll begin to make more sense!
<br>

<br>
<b>Section 2:</b> 

# Selecting and Filtering DataFrames

Over the following sections, we will learn how to select and filter data using pandas DataFrames. This is one of the most useful and powerful features of pandas.  

It is useful for a range of reasons, from simply cutting down a large dataset into the specific sub-sets of data required for analysis, to managing the various components of a model (e.g. dependent and independent variables, training and test data etc.) and conducting specific subgroup analyses.

Selecting and filtering can be done by using the indexing operator. Pandas uses the same indexing operator as lists, tuples, and dictionaries - `[]` (square brackets).

However, the DataFrame indexing operator is more sophisticated than one used for the python built-in data structures, the behaviour of the DataFrame indexer depends, as you'll see, on what you pass to the DataFrame indexing operator. This allows you to pass different kinds of information to the same indexing operator and get specific outputs.

## 2.1 Selecting Columns from DataFrames

The simplest way to select a column from a dataframe is to use the name of that column!

In [ ]:
# Select by passing the name of a column as a string.
passengers = titanic['name']
passengers.head()

In the code above, the following things happen:
1. We index the DataFrame `titanic` using the column header.
2. Assuming 'name' is a legitimate column header, a pandas Series is returned.
3. This Series, representing the 'name' column of the `titanic` Dataframe, is assigned to a variable called `passengers`
5. Finally, we look at the first 5 rows of the Series object `passengers`

If we want to select multiple columns, we have to first collect the column names together using a list, and then pass that to the DataFrame indexing operator.

In [ ]:
# First make a list of column names called cols
cols = ['name','age']
# Use cols to select multiple columns from marvel.
passenger_cols = titanic[cols]
passenger_cols.head()

The code above is very similar to the code for selecting a single column, the main difference is that to select multiple columns we pass a list of string objects, rather that a single string object directly.

However, because we have selected multiple columns, the `passenger_cols` object is actually a DataFrame, rather than a Series object.

Note, that we don't have to create the `cols` list first, we can actually create it on-the-fly in the indexing operator, you just have to learn to distinguish the list constructor square brackets from the indexing square brackets!

In [ ]:
# select multiple columns directly.
passenger_cols = titanic[['name','age']]
passenger_cols.head()

In [ ]:
# Just have a look, rather than assigning to a variable
titanic[['name','age']].head()

## Exercise 1

1. Refresh your memory of the titanic data by getting:
    * The number of rows and columns in the DataFrame
    * The datatypes of the columns.
    * A list of the columns names for the titanic dataset.
2. Select the 'fare' column from the `titanic` data and show the tail of the data.
3. Select just the last column, try using the list of column names you made earlier.
4. Select the second, third and fourth columns, try doing it using DataFrame columns property directly.

## 2.2 Filtering rows from Dataframes

Filtering rows from a pandas dataframe works in a very similar way to selecting columns. Simple filtering can be achieved by passing a range to the DataFrame indexer, just like slicing a list.

The code below does the same thing as `.head()` and `.tail()` and can be used to show any arbitrary range of rows in a given DataFrame.

Note that this is identical to slicing a list.

However, we can't get individual rows by indexing as we would with a list, because a column could be named with an integer. This would mean that `dataframe[0]` is ambiguous and could refer to the first row, or a column named 0. Hence it is not allowed, `dataframe[0]` only works if you have a column named '0', which is a default for some operations in pandas.

This means that selecting a single row also requires a slice.

In [ ]:
# first 5 rows
titanic[0:5] # or - titanic[:5]

In [ ]:
# last 5 rows
titanic[-5:]

In [ ]:
# arbitrary slice
titanic[102:109]

In [ ]:
# 1 row
titanic[123:124]

## 2.3 Conditional Filtering

Most filtering is a more involved operation where we first specify the condition(s) that must be met in order for rows to be included in or excluded from the output dataframe.

The way that pandas filters rows can be though of as a two-step process.

1. Create a 'mask' that specifies inclusion and exclusion for each row in the dataframe.
2. Mask the dataframe to return the subset of rows that are included.

This sounds a bit abstract, so let's consider what this might look like in practice.

Imagine you have the following (very simple) dataframe, called 'catdog':

index | Animal | Name
---| --- | ---
0 | Cat | Catalie Portman
1 | Cat | Pico de Gato
2 | Dog | Chewbarka
3 | Cat | JK Meowling

You want to filter so you just have 'Cat' rows. Therefore you design the following condition:

```python 
mask = catdog['Animal'] == 'Cat'
```

There are a lot of = (equals) in the above statement.
* The first = indicates assignment, we are assigning the outcome of the expression on the right to the variable on the left of the equals sign.
* The second double equals sign, ==, indicates a comparison, in this case it assesses whether each value in the 'Animal' column of catdog is equal to the text 'Cat'. If python finds that the column value and 'Cat' are the same it assigns a True value, and if not a False value.

This produces a 'mask' which is a Series of `True` and `False` values against the DataFrame index.

index | &#xfeff;
---|---
0 | True
1 | True
2 | False
3 | True

Now, you just have to pass the mask to the original dataframe to complete the filtering process.

```python
catdog2 = catdog[mask]
catdog2
```
This subsets the catdog dataframe based on the True (include) and False (exclude) values. Producing:

index | Animal | Name
---| --- | ---
0 | Cat | Catalie Portman
1 | Cat | Pico de Gato
3 | Cat | JK Meowling

The row that had a 'Dog' value for 'Animal', has been removed. Note though that the index has remained the same as the original. Sometimes it is important to reset the index after filtering to restore the index to sequential integers starting at 0.

If you want to reset the index - you can do so by using this code - 

```python
catdog2 = catdog2.reset_index(drop = True)
catdog2
```
index | Animal | Name
---| --- | ---
0 | Cat | Catalie Portman
1 | Cat | Pico de Gato
2 | Cat | JK Meowling

See above that the index has been reset to be sequential.

## 2.4 Operators to filter data

We can filter by using logical comparison statements

* == 'is equal to' notice the double == and watch out! A single one would be assigning to a variable!
* != 'does not equal' - the opposite of ==
* $\gt$  greater than
* $\lt$ less than
* $\gt$= greater than or equal too
* $\lt$= less than or equal too.

In addition, pandas includes some functions to make particular comparisons easier:

* .isin(list) which we can use for multiple conditions 
* .between() which we can use to specify upper and lower bounds

Finally, the ~ (tilde) allows us to flip or invert an expression. Basically, if an expression returns [true, true, false], the same expression with a ~ in front of it will return [false, false, true].

However, we'll concentrate on the simple operators in the top list for now.

In [ ]:
# Filter titanic for 3rd class passengers only

# First make the mask
mask = titanic['pclass'] == 3
# Have a quick look at the mask
mask.sample(5) # 5 rows in the mask.

In [ ]:
# Now filter the titanic dataframe with this mask
thirdclass = titanic[mask]
thirdclass.head()

In [ ]:
# Use the same approach for other logical statements.
mask = titanic['fare'] > 200
titanic[mask].head(7)

## Exercise 2

1. Show the row for the passenger named: 'Birkeland, Mr. Hans Martin Monsen'
2. How many passengers in the dataset are male?
3. How many passengers are under 18 years of age?
4. What proportion of passenger in the dataset survived?

## 2.5 Using Multiple Conditions to Filter

So far, we've only filtered according to individual conditions set on a single column, but there is no reason we can't use multiple conditions to filter by several conditions and/or columns at once. However, we do need to think about how the conditions relate to each other, we have two options to establish these relationships.

* **and** relationships are given by the **&** (ampersand) symbol. This implies both/all conditions must be met for a row to evaluate to True.
* **or** relationships are given by the **|** (pipe) symbol. This implies that if _any_ of the conditions can be met a given row evaluates to True.

You can think of `.isin()` and `.between()` as being special versions of multiple condition filters.

* isin() is basically just a lot of linked **or** statements - *value1* **or** *value2* **or** *value3* etc.
* between() is an **and** condition - greater than (or equal to) the lower bound **and** less than (or equal to) the upper bound.

Let's again take a simple example to illustrate this with the `catdog` dataframe:

index | Animal | Name | Age
---| --- | --- | ---
0 | Cat | Catalie Portman | 3.0
1 | Cat | Pico de Gato | 5.0
2 | Dog | Chewbarka | 1.0
3 | Cat | JK Meowling | 7.0
4 | Dog | K-9 | 11.0

If you wanted to select all animals that are cats **and** who are over 4 years old, you could do the following:

```python
mask = (catdog['Animal'] == 'Cat') & (catdog['Age'] > 4.0)

catdog[mask]
```
index | Animal | Name | Age
---| --- | --- | ---
1 | Cat | Pico de Gato | 5.0
3 | Cat | JK Meowling | 7.0

Only Cats over 4 years old have been included in the filter.

However, if you wanted to select all animals that are either cats **or** are over 4 years old, you could instead do:

```python
mask = (catdog['Animal'] == 'Cat') | (catdog['Age'] > 4.0)

catdog[mask]
```
index | Animal | Name | Age
---| --- | --- | ---
0 | Cat | Catalie Portman | 3.0
1 | Cat | Pico de Gato | 5.0
3 | Cat | JK Meowling | 7.0
4 | Dog | K-9 | 11.0

In [ ]:
# Let's try some multiple condition filters with the titanic data
# First class passengers who are women.
mask = (titanic['pclass'] == 1) & (titanic['sex']== 'female')
titanic[mask].head()

In [ ]:
# Women or children
mask = (titanic['sex'] == 'female') | (titanic['age'] < 18)
titanic[mask].head()

In [ ]:
# Try the special functions for multiple selection. First .isin()
# Passeners from Cherbourg ('C') or Queenstown ('Q')
titanic[titanic['embarked'].isin(['C','Q'])].sample(7)

In [ ]:
# Now, .between()
# passengers who paid between 100 and 250
titanic[titanic['fare'].between(100,250)].head()

## Exercise 3

1. Select passengers who are in classes 2 and 3, what percentage of passengers is this?
2. How many passengers who do not have siblings or spouses ('sibsp'), or parents or children ('parch') on the boat?
3. What proportion of passengers who 'embarked' in Cherbourg ('C') or Queenstown ('Q') survived?

<br>
<b>Section 3:</b> 


# Generating New Variables

There are a number of approaches to adding new columns of data to a DataFrame, and depending on what you want to achieve some of these can be quite complicated. We start with simple examples and build up to more sophisticated approaches later.

## 3.1 Creating Binary Variables


We can assign a condition to a new column to create a binary variable in much the same way as we might create a mask for filtering rows.

Imagine that instead of filtering rows, we instead wanted to assign a 1 or a 0 to a new column depending on whether that condition was met. We can do this quite simply due to the fact that in python (and many other languages) a `True` value is equivalent to 1, and a `False` value is equivalent to 0.

In [ ]:
# First create the condition as a True/False Series
cond = titanic['sex'] == 'female'

# Now assign the condition variable cond to a new column, but as an integer type.
titanic['female'] = cond.astype(int)
titanic.head()

In the code above, a condition is specified, returing a boolean Series. This Series object is converted to an integer data type and assigned to a new column in the `titanic` DataFrame called 'female'. If 'female' already existed, this code would have overwritten whatever was already in runtime.

Using a condition we can either store `True` and `False` values directly, or convert them to their integer representations `1` and `0`. If we wanted to use arbitrary values for our new variable we can create a dictionary and `.map()` the dictionary to the column.

In [ ]:
# Use YES and NO instead of True and False.
titanic['female'] = cond.map({True:'YES',False:'NO'})
titanic.head()

Note, this `.map()` approach is also good for aggregating (dissolving) or recoding categorical variables. The dictionary can be of an arbitrary length and act as a lookup, this is a benefit of the key:value structure. Note though that pandas also implements its own `category` variable. We're not going to discuss it here as it's not strictly necessary, but it can be useful. Check the [pandas docs](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html) for more information.

## 3.2 Constant Value Variables

Constant values can also be assigned to all rows in a DataFrame with a single number or string, with the data type being dictated by the format of the value being assigned. This may be useful in the context of updating cells, which we'll discuss later on.

In [ ]:
# New column of ints
titanic['int_zeroes'] = 0
# New column of floats
titanic['float_ones'] = 1.0 # note floating point.
# New column of strings
titanic['string_twos'] = 'two'
titanic.head()

## 3.3 Creating Variables Based on Existing Columns

We can simply assign the values of existing columns to new columns using assignment.

In [ ]:
titanic['name2'] = titanic['name']
titanic.head(6)

We can also use mathematical expressions with one or more existing columns to create new columns.

In [ ]:
# The + 1 constant accounts for the passenger themself.
titanic['family_size'] = titanic['sibsp'] + titanic['parch'] + 1
titanic.head(6)

## 3.4 Classifying Numerical Values using pd.cut() and pd.qcut()

New columns can be created directly when classifying numerical data using `pd.cut()` or `pd.qcut()`

`cut()` has two behaviours. The default is to create a given number of equal-sized bins (e.g. the width of all bins are the same), however if you provide bins it will cut according to those bins.

`qcut()` is similar, but rather than equal-sized bins it created bins that have (roughly) equal numbers of observations in them. These bins could have very different widths.

In [ ]:
# Divide fare into 3 equally sized classes.
titanic['fare_3class'] = pd.cut(titanic['fare'], 3, labels=['low','mid','high'])
titanic.head()

In [ ]:
# Divide fare into tertile.
titanic['fare_tertiles'] = pd.qcut(titanic['fare'], 3, labels=['low','mid','high'])
titanic.head()

## 3.5 Removing (Dropping) Columns

Not withstanding the fact that we could select the specific columns we want and exclude ones we don't want in our dataset, we also have a couple of options for dropping or deleting a column from a pandas DataFrame.

Let's delete the constant valued columns we established earlier: 'int_zeroes', 'float_ones', 'string_twos'.

The first option we have is the built in python statement `del`. Otherwise we can use the `.drop()` method.

Note, that pandas is in active development, so sometimes parameters change as the library matures. If your `.drop()` method doesn't understand the code below then it may be an older version. try this instead:
```python
titanic.drop(['int_zeroes','float_ones','string_twos'], axis=1, inplace=True)
```
Note that this syntax is still compatible with newer versions of pandas, so old code won't break in this case.

In [ ]:
# drop a column with del
del titanic['int_zeroes']
titanic.head()

In [ ]:
# drop using the drop method
titanic.drop(columns=['float_ones','string_twos'], inplace = True)
titanic.head()

## Exercise 4

1. Create a new binary variable called 'child', it should have the value 1 when the passenger is under 18 and 0 otherwise.
2. Create a new variable called 'embarked_city', map 'S' to 'Southampton', 'C' to 'Cherbourg', and 'Q' to 'Queenstown'.
3. Create a new variable called 'surname', the value should be the surname part of the 'name' field.
    * Use `titanic['name'].str.split(',',expand=True)[0]` to get surnames.
    * Explore this code and make sure you understand what's going on.
    * How many unique surnames are there (hint: try `.unique()` or `.nunique()` on the new column.

In that last question we made use of a special module on the `Series` object called `str`, this exposes all the string methods we've encountered previously to a column of string data, but in a vectorised form. This means you can manipulate text in a row-by-row manner with a single method call. For example:

In [ ]:
# lower case names
titanic['name'].str.lower().head()

In [ ]:
# Press tab after the last fullstop to see the string methods available.
# Select one and use shift-tab to explore it further.
pd.Series.str.

In [ ]:
# in this example we are trying to extract all the titles from the names field.
titanic['name'].str.split(',',expand=True)[1].str.split('.',expand=True)[0].head()

<br>
<b>Section 4:</b> 


# Descriptive Statistics

There are really two broad types of data in our DataFrames at the moment that we want to look at - numerical data (i.e. ints and floats) and text data (i.e. strings; slightly confusingly called objects).

In this section, we will explore some basic univariate descriptive statistics.

## 4.1 Describing Numerical Data
Let's start with the numerical data, because thats the easiest to work with. Pandas even has a built in function called `.describe()` which will provide some descriptive statistics for all the numerical columns in a dataframe.

In [ ]:
# Describe the titanic dataframe
titanic.describe()

As it happens, the descriptive statistics output for our titanic dataset is also a DataFrame!

Make sure you understand what each row means in this table:
* **count** - the number (count) of entries in the given column.
* **mean** - the average (arithmetic mean) data value in the given column.
* **std** - the standard deviation (spread) of values in the given column.
* **min** - the smallest value in the given column.
* **25%** - the value of the data at the lower quartile (i.e. after the first 25% of data, ordered from smallest to largest).
* **50%** - the middle value of the data (aka the median), half the values are larger than this value, and half smaller.
* **75%** - the value of the data at the upper quartile (i.e. after the first 75% of data, ordered from smallest to largest).
* **max** - the maximum data value recorded.

We can get a sense of the data from these descriptive statistics. For instance: 

## 4.2 Descriptive Statistics for Numerical Data

`.describe()` is great to get an overview, but what if we just wanted particular statistics and not the whole lot?

Well, pandas will let you run a range of statistics individually! Some examples are given in the code below.

In [ ]:
# count() can be defined for all datatypes, so all columns are computed. Note which columns have some missing data.
titanic.count()

In [ ]:
# mean() is only defined for numeric columns
titanic.mean()

In [ ]:
# std() is also only defined for numeric columns
titanic.std()

In [ ]:
# min() has a definition for numeric and text data.
# The minimum value of a text field is the text which is first alphabetically.
titanic.min()

In [ ]:
# max() has a definition for numeric and text data.
# The maximum value of a text field is the text which is last alphabetically.
titanic.max()

In [ ]:
# quantile() allows you to specify quantiles, such as 0.25 (lower quartile), 0.5 (median), and 0.75 (upper quartile)
# for convenience median() also exists
titanic.quantile(0.25) # 25% - lower quartile.

In [ ]:
# sum() works to concatenate text, producing a curious output.
titanic.sum()

In [ ]:
# Hopefully though it is obvious that these methods could be called on selected columns too.
titanic['fare'].sum()

In [ ]:
# As it happens, python has a built-in sum, min and max functions which does the same thing.
# however, pandas sum is better when confronted with missing data:
sum(titanic['fare'])

In [ ]:
# Try this instead
sum(titanic[titanic['fare'].notnull()]['fare'])

In the above cell, a new filter condition for working with missing data is apparent: `notnull()` this returns `True` for rows that have a valid value, and `False` otherwise. Similar to the behaviour of `bool()`. The opposite of `notnull()` is `isnull()`.

This method of selection is similar to making conditional statements with object methods that return a Boolean, e.g.
```python
if string_variable.islower():
    # Do something
```
The same principle can apply to other contexts, for instance the `Series` object has a large number of string methods collected as `.str.`, calling `titanic['name'].str.contains('Mr.', regex=False)` returns `True` or `False` for each row in a column depending on whether it contains the substring 'Mr.'

In [ ]:
# Select passengers with title Mr. and get mean fare
titanic[titanic['name'].str.contains('Mr.', regex=False)]['fare'].mean()

In [ ]:
# Select passengers with title Mrs. and get mean fare
titanic[titanic['name'].str.contains('Mrs.', regex=False)]['fare'].mean()

## 4.3 Describing Text (or Categorical) Data

We can still use `.describe()` to look at text data, however we need to specify that we're looking at object (text) data types.

Really, the descriptive statistics below are for categorical data, they don't work very well if every value in a field is a different piece of text!

In [ ]:
# In the describe parameters we're only choosing to include object datatypes, given by 'O'.
# The 'O' is in a list, because we could include other data types in the list if we wanted to.
titanic.describe(include=['O'])

When you are describing an object you get some different summary statistics than with numerical data:

* **count** as before, a count of the values present in each column.
* **unique** a count of the number of unique values in each column.
* **top** is the most common value - aka the mode.
* **freq** is the frequency of occurance of the most common value.

Let's dig a bit deeper into some of these columns.

In [ ]:
# Interestingly there are 2 James Kellys, however they don't appear to be duplicates.
titanic[titanic['name'] == 'Kelly, Mr. James']

In [ ]:
# One way we could check for other name duplicates is by taking the mode.
# As mode can be non-unique it returns a series
# Looks like Kate Connolly is another possible duplicate.
titanic['name'].mode()

In [ ]:
# Again, these appear to be different people!
titanic[titanic['name'] == 'Connolly, Miss. Kate']

In [ ]:
# the unique() function will give us all the unique objects in a column.
titanic['embarked_city'].unique()

In [ ]:
# the value_counts() function gives a count for each unique value in a chosen column.
titanic['embarked_city'].value_counts()
# Most people embarked in Southampton.

## 4.4 Sorting Data

Sorting data is straightforward in pandas, a simple sort on one columns used the DataFrame method `.sort_values()`:
```python
titanic.sort_values('age')
```
The default is to sort in ascending order, from smallest to largest value. Set the ascending parameter to `False` for a descending sort:
```python
titanic.sort_values('age', ascending = False)
```
This approach sorts and returns the entire DataFrame, if you want to sort a single column on its works similarly:
```python
titanic['age'].sort_values()
```
More complicated sorting behaviours can be managed by passing a list, in the order you would like the sort to occur:
```python
titanic.sort_values(['pclass','age'], ascending = [True, False])
```
In the above code I sort first by 'pclass' then by 'age'. in addition I pass a list to ascending indicating that 'pclass' is to be sorted in ascending order, and 'age' in descending order.

In [ ]:
# sort fare descending
titanic.sort_values('fare', ascending = False).head(8)

In [ ]:
# sort by sex ascending, then age descending
titanic.sort_values(['sex','age'], ascending = [True, False]).head()

In [ ]:
# sort by sex descending, then age descending
titanic.sort_values(['sex','age'], ascending = False).head()

# Exercise 5

1. How old is the oldest passenger in the dataset?
2. How many men and women are in the dataset?
    * Check the pd.Series.value_counts() docstring and figure out how to get proportions of men and women.
3. Create a new column called 'std_fare' which is the 'fare' minus the mean fare, divided by the standard deviation.
4. Calculate the number of children in second class.

In [ ]:
# Type your code here.

In [ ]:
# Solutions for exercise 5
%load ../Solutions/Intro/exercise5.py

<br>
<b>Section 5:</b> 


# Updating Values


## 5.1 Important! Copies and Views

The selecting of columns and filtering of rows that you've done above effectively **copies** the original dataframe to make a new one based on your conditions. This is great for creating a pared-down dataframe to work with, or when filtering data to produce statistics for particular subsets of data.

However, when we want to actually update cell values we need to use a special function that ensures we are editing the original dataframe **view** and not a **copy** of it. If we edit cells on a copy of a dataframe, we might find that these values are not updated in the original dataframe when we come to analyse it!

This is a technical point that you don't need to worry too much about, just remember to use the following approaches when dealing with code!

In the titanic data, given what we know so far, we might try to update a cell values using what's called 'chained indexing':

```python
titanic[titanic['embarked'] == 'C']['embarked'] = 'c'
```
The above code makes sense - filter the rows, select the column and assign the value you want. However, python will give you a warning (specifically a 'SettingWithCopyWarning') that you're not doing things properly!

Instead we'll do the following:

```python
titanic.loc[titanic['embarked'] == 'C','embarked'] = 'c'
```

The code looks very similar, however in the second (correct) example we're using `.loc[]`

`.loc[]` is actually almost identical to the selecting and filtering we've already done. We just specify the rows and columns within the square bracket like: `.loc[row_indexer, col_indexer]` where:
* `row_indexer` is the mask if we are filtering, or a colon, `:`, if we want to include all rows.
* `col_indexer` is a single column name, or a list of column names, or a colon, `:`, if we want to include all columns.

You can actually use the .loc[] approach to do all the selecting and filtering we've already done if you want.

In addition to `.loc[]` we also have `.iloc[]` which behaves very similarly, except that it allows us to index on the index position of rows and columns.

Some examples using iloc[]:

In [ ]:
# Select all rows, and the first column
titanic.iloc[:,0].head()

In [ ]:
# Or select a range of columns
titanic.iloc[:,3:5].head()

In [ ]:
# Another head-like indexing approach
titanic.iloc[0:5,:]

Now some examples using `.loc[]`

In [ ]:
# Often researchers use column selection to reorder the columns in a DataFrame.
cols = list(titanic.columns)
cols.reverse()
titanic.loc[:,cols].head()

In [ ]:
# loc takes row conditions as usual.
titanic.loc[titanic['pclass'].isin([1,2]),['pclass','name']].sample(5)

Often pandas users will use chained indexing when selecting and filtering, and the `loc` and `iloc` operators when cleaning values on a cell-by-cell basis. There is no reason why you can't use these operators for selecting and filtering too, however, if you want to assign the sub-set DataFrame to a new variable you'll need to use the `.copy()` method to ensure that it is a different DataFrame in memory, rather than a reference to the original.
```python
new_df = titanic.loc[:,['survived','embarked']].copy()
```

## 5.2 Propagating Missing Data Values with `.loc[]`

Earlier, when we created a new binary variable called 'child' the condition we used created a `Series` of `True` and `False` values based on whether the condition was met or not.

An important consideration when creating a new variable is presence of missing data. A condition will automatically set a missing value to `False`. This is fine for filtering data, but misrepresents data in a new variable - it makes a derived variable appear more complete than it is in reality.

In order to update the 'child' column to incorporate rows we know are missing we can use `.loc[]`:
```python
# This was the column originally generated.
titanic['child'] = (titanic['age'] < 18).astype(int)
# Now, update the missing data values
titanic.loc[titanic['age'].isnull(),'child'] = titanic[titanic['age'].isnull()]['age']
```
In the 2nd line of code, we use the row filter `titanic['age'].isnull()` to filter missing data in the 'age' column and we select the 'child' column. These are used to create a 'view' of the titanic DataFrame using `.loc[]`.

Then, we assign to that combination of rows and columns the values given by: `titanic[titanic['age'].isnull()]['age']` which will be a Series of missing values. We should now see missing values in the 'child' column.

In [ ]:
# initial composition of 'child'
titanic['child'].value_counts(dropna=False)

In [ ]:
# update and check new field
titanic.loc[titanic['age'].isnull(),'child'] = titanic[titanic['age'].isnull()]['age']
titanic['child'].value_counts(dropna=False)

## 5.3 Changing Column Data Types

As with basic python data types, we can cast columns of data from one data type to another. This can be useful as part of a data cleaning process. Sometimes we find that data we expect to be numeric is actually string data, often occurs because the numbers are actually stored as text in the original dataset, in which case they have to be converted. Other times it is because the original dataset includes characters that pandas won't immediately interpret as a numeric value. This is particularly the case if a dataset contains missing data that is coded to a special character. Reading in these data as text is the safest option, as it preserves all of the information and requires the data analyst to make a decision as to how to handle the conversion to a numeric data type.

There are two ways to change a datatype, firstly the Series method: `.astype()` in which the parameter is a data type e.g.
```python
titanic['survived'].astype(str)
```
There is also a 'top-level' pandas function `pd.to_numeric()` which is a good option for data cleaning.
```python
pd.to_numeric(titanic['survived'])
```

In [ ]:
# turned survived to a string column
titanic['survived'] = titanic['survived'].astype(str)
titanic.dtypes['survived']

In [ ]:
# turned survived back to a numeric
titanic['survived'] = pd.to_numeric(titanic['survived'])
titanic.dtypes['survived']

## 5.4 Updating Column Names

We've been using a dataset that has good, descriptive column names. However, sometimes you're faced with columns that have difficult to use names.

* column names might be really long, these a are a pain to type out.
* spaces between words, and presence of special characters (e.g. %^& etc.) can be annoying
* columns names may be ambiguous or not sufficiently descriptive.

We can use the pandas `.rename()` method to update column names. To update the column names we pass a dicitonary to the parameter 'columns', e.g.
```python
df.rename(columns={'two':'new_name'}, inplace=True)
```
For a DataFrame `df`, the `rename` method allows us to change the names of columns based upon a dictionary. Here, the dictionary key `'two'` is the current name of the column, and the dictionary value `'new_name'` is what we want to rename the column.

In [ ]:
titanic.rename(columns={'surname':'family_name'}, inplace=True)
titanic.head()

<br>
<b>Section 6:</b> 


# Aggregation

Aggregation means grouping data together by a particular grouping variable and producing a summary of one or more columns for that grouping variable.

## 6.1 Aggregation using the .groupby() method

We'll use the `groupby()` function. 

This function can be really useful, especially when your data are disaggregate - e.g. data about individual units of people or things. 

`groupby()` allows you to aggregate by a categorical variable and summarise numerical data into a new dataframe.

`.groupby()` works on a principle known as 'split-apply-combine':
* Split - a dataframe is divided into a set of smaller dataframes based on the grouping variable.
* Apply - an aggregation is applied to each of the groups to create a single row for each group in the original dataframe.
* Combine - bring together the aggregated dataframe rows into a final new dataframe.

Let's walk through what that might look like for the `titanic` dataframe:
* Firstly, we decide to **split** the data by the 'pclass'. This divides the `titanic` dataframe into effectively three separate dataframes, one for first, one for second and one for third class.
* Secondly, we **apply** an aggregation to the dataframe. You can either produce an aggregate statistic for all rows, or you can selected specific columns on which to do the aggregation. If we **apply** a `.mean()` aggregation to 'fare', then for each 'pclass' group we get the average fare cost.
* Finally, pandas returns a **combined** dataframe that contains the new aggregate statistics.

Let's look at that in code:

In [ ]:
titanic.groupby('pclass')['fare'].mean()

In [ ]:
# Similarly a count of children by class might look like this:
titanic.groupby('pclass')['child'].sum()

Hopefully this all sounds fairly straightforward! `.groupby()` is a powerful tool, particularly when you are working with any kind of hierarchical data where you might want to know something aggregate about the groups within the data, for instance:
* individuals nested in households.
* employees nested in firms.
* patients nested in primary or secondary care trusts.
* small area geographies (e.g. wards, output areas, postcodes etc.) nested in larger geographies (e.g. districts, counties etc.)
* countries nested in supra-national entities.

or, demographic, cultural and socio-economic classes:
* individuals by age, sex, ethnicity, religion etc.
* employees by grade or occupational social class.
* households by neighbourhood deprivation rank or decile.
* experimental subjects in intervention and control arms of a trial.

We can also aggregate according to more complicated groupings:

In [ ]:
# Groupby passenger class, then city of embarkation.
titanic.groupby(['pclass','embarked_city'])['fare'].mean()

In [ ]:
# NB order is important to the output.
titanic.groupby(['embarked_city','pclass'])['fare'].mean()

The ordering of groups may be important as it affects the resultant DataFrame.

If you assign the `groupby()` output to a variable, you can also pull out dataframes for particular groups, just as if you had written a filter condition!

In [ ]:
classes = titanic.groupby('pclass')
classes.get_group(3).head()

<br>
<b>Section 7:</b> 


# Crosstabs, Contingency, and Two-Way Tables

Similar to aggregation with `.groupby()` a cross-tabulation table allows you to generate frequencies for combinations of groups of data.

## 7.1 Crosstabulation using the `pd.crosstab()` top-level function

Crosstabs are often also refered to as 'contingency tables' and 'two-way tables' and, although there may be some subtle distinctions, these all refer to the setting of one categorical variable against another, creating a matrix, and then counting, or otherwise aggregating by cell values.

To create cross-tabulations, you can use the `pandas.crosstab()` function.

Let's have a look at a simple example:

In [ ]:
# crosstab of survived against sex
pd.crosstab(titanic['survived'],titanic['sex'])

The basic use of `.crosstab()` requires that you input the row category ('survived') and the column category ('sex'). This produces cell counts for the cross-tabulation of the two categories, so there were 339 passengers who were both 'female' and 'survived'.

The basic crosstab can be augmented with some additional parameters:
* `margins` - set to `True` to add row and column totals.
* `normalize` - create row or column proportions, or overall proportions, rather than frequencies. Keywords are 'index', 'columns' or 'all'.

In [ ]:
# crosstab of survived against sex
pd.crosstab(titanic['survived'],titanic['sex'], margins=True, normalize = 'columns')

# Exercise 6

1. What is the average fare paid by men and women?
2. What is the median fare paid by men and women in each different class?
3. Create a crosstab for 'survived' and 'pclass', which class is the best for survival?

In [ ]:
# type your code here.

In [ ]:
# Exercise 6 solutions
%load ../Solutions/Intro/exercise6.py

<br>
<b>Section 8:</b> 

# Merging Data

Often all the data you need to answer a question are not contained within a single dataset, but across several. Datasets can be joined, or 'merged', to allow data to be analysed together, but only **if the two datasets share a common reference or identifier.**

Linking data come in a number of forms, and are commonly refered to as 'indexical' data. Some examples include:

* Your NHS number, allowing data linkage across the NHS for primary, secondary, tertiary care episodes and prescribing.
* Any account number (e.g. banking, utilities, travel card, council tax etc.) can acts as a point of linkage between different sets of data.
* Your email, phone number, social media handles etc.
* Your address can also act as a spatial reference, linking you to your neighbourhood, local services etc.

## 8.1 Different ways to merge

While you may have heard it called "Join" in other languages, particularly in database query languages, in pandas we use the `.merge()` function.

Once you have established that two DataFrames share a reference that will permit a merge to be conducted, you may wish to further specify how the merge behaves with the `how` parameter.

* Inner - Only rows with reference values that appear in both DataFrames are merged.
* Left - All the data from the 'left' DataFrame is retained, and any rows that have matching references are merged from the 'right' DataFrame.
* Right - All data from the right and anything that matches from the left. Effectively, the reverse of 'Left'.
* Outer (Full) - all data from the left and right DataFrame is retained, matched up where possible.

This can be easier to understand graphically:

![joins](https://www.dofactory.com/Images/sql-joins.png)

Lets read in some additional titanic data and have a look at them.

The new dataset includes the passenger name and age, as well as the additional variables:
* boat - lifeboat identifier
* body - body identification number
* home.dest - the passenger's home and destination in the form "home / dest" or just "home".

The dataset is located in the 'Data' folder, it is an excel file called: 'titanic_more.xlsx'.

In [ ]:
# Read in the titanic_more.xlsx using pandas.
titanic_more = pd.read_excel('../Data/titanic_more.xlsx')
titanic_more.head()

In order to merge the two tables we need to use a column which uniquely defines each passenger and is available in both DataFrames. At first glance, 'name' would appear to be a good candidate for this, however, remember there are a couple of passengers who have the same name as each other.

We can explicitly check is a column uniquely identifies rows with the `Series.is_unique` property.

In [ ]:
# Name is not unique defined for each row in titanic
titanic['name'].is_unique

In [ ]:
# Name is not unique defined for each row in titanic_more
titanic_more['name'].is_unique

In this case, we can create a field that will uniquely identify passengers in both datesets by generating a new variable that combines the 'name' and 'age' variables. This is because we happen to know the ages of the passengers who have the same name.

In [ ]:
# Create unique id base don name and age for titanic
titanic['name_age_id'] = titanic['name'] + " " + titanic['age'].astype(str)
# Check if the new variable is unique
titanic['name_age_id'].is_unique

In [ ]:
# Create unique id base don name and age for titanic
titanic_more['nameageid'] = titanic_more['name'] + " " + titanic_more['age'].astype(str)
# Check if the new variable is unique
titanic_more['nameageid'].is_unique

## 8.2 Merge function


Now that we have unique id fields in both titanic and titanic_more, we use them to merge the two datasets.

In [ ]:
# merge the titanic_more dataset with titanic
titanic_merge = titanic.merge(titanic_more[['name_age_id','boat','body','home.dest']], on = 'name_age_id')
titanic_merge.head()

In the code cell above we merge the `titanic_more` DataFrame into `titanic`. We do this on the basis of the 'name_age_id' variable that we created.

The default merge behaviour is 'inner' join, however in this particular case all behaviours ('inner', 'left', 'right','outer') resolve to the same outcome as both datasets include the same 1,309 passengers.

In [ ]:
# Note that pandas actually handles multiple columns directly for unique identification.
titanic_merge = titanic.merge(titanic_more[['name','age','boat','body','home.dest']], on = ['name','age'])

# Exercise 7

Load the revised dataset 'titanic_revised.xlsx' which only includes passengers which have a value for boat, body or home.dest and try merging this to titanic.

1. Which types of merge perform as expected?
    * Try the different `how` parameters: 'inner', 'outer', 'left', 'right'.
2. How many values are observed for boat, body, and home.dest?
    * i.e. How many values are non-missing/
    * Hint: use `.count()`
3. How many passengers in the dataset used lifeboat number 3? What proportion of them were female?
    * Hint: think about datatypes.
4. How many passengers record 'New York' or 'NY' somewhere in the 'home.dest' column?
    * If you do a selection using `Series.str.contains()` you need to specify the parameter na=False.
    * This sets missing values to `False` in the boolean filter and excludes them from the selection.

In [ ]:
# write your code here

In [ ]:
# Exercise 7 solution
%load ../Solutions/Intro/exercise7.py


## Vignettes

There are two additional notebooks to explore in the notebooks folder.
1. [Vignette - Visualisation](Vignette-Visualisation.ipynb) : explores the basics of making graphical plots using pandas objects and the matplotlib plotting library.
2. [Vignette - Statistics](Vignette-Statistics.ipynb): explores some basic statistics, including linear regression using pandas objects and the statsmodels econometric statistics package.